.spinny-div__container {
  /* background-color: red; */
  /* height: 80%; */
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}
@media (max-width: 950px) {
  .spinny-div__container {
    position: relative;
    top: 10px;
  }
}

@media (max-width: 450px) {
  /* .spinny-div__container {
    width: 80%;

    flex-wrap: nowrap;
    padding: 50px;
    position: relative;
    top: 100px;
  } */
}
