.proj-nav__container {
  height: 80vh;
  width: 10%;
  border: solid red;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.proj-nav__up {
  height: 40vh;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.proj-nav__up:hover {
  background-color: red;
}
.proj-nav__down {
  height: 40vh;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.proj-nav__down:hover {
  background-color: red;
}
.proj__nav-arrow {
  width: 100%;
}
@media (max-width: 950px) {
  .proj-nav__container {
    height: 75vh;
  }
}
