.skills__container {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .arrow__holder {
  margin-top: auto;
} */
@media (max-width: 400px) {
}
